.nav {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  background: black;
  margin: 0;
  padding: 1rem 0;
  li {
    list-style-type: none;
    margin: 0 1rem;
    color: white;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
      user-select: none;
    }
  }
}